@import "_variables";

.highcharts {
    &-root {
        width: 100%;
    }

    &-container {
        font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif; // umbraco defaults
    }

    &-grid-line, &-axis, &-axis-labels {
        //display:none;
    }
}

.highcharts-color-0 {
    stroke: $umbGreen;
    fill: $umbGreen;
    color: $umbGreen;
}

.highcharts-color-1 {
    stroke: $step6;
    fill: $step6;
    color: $step6;

    .highcharts-point {
        stroke: $step6;
        fill: $step6;
    }
}


.highcharts-pie-series {
    .highcharts-point {
        stroke: none;
    }
}

.PieMan-drilldown-pie {
    .highcharts-color-0 {
        stroke: $umbGreen;
        fill: $umbGreen;
        color: $umbGreen;
    }

    .highcharts-color-1 {
        stroke: $step2;
        fill: $step2;
        color: $step2;
    }

    .highcharts-color-2 {
        stroke: $step3;
        fill: $step3;
        color: $step3;
    }

    .highcharts-color-3 {
        stroke: $step4;
        fill: $step4;
        color: $step4;
    }

    .highcharts-color-4 {
        stroke: $step5;
        fill: $step5;
        color: $step5;
    }
}

.PieMan-pie {
    .highcharts-color-2,
    .highcharts-color-3,
    .highcharts-color-4 {
        display: none;
    }
}
