<div ng-controller="PieMan.EditorController" class="pieman-editor">
    <div class="controls">
        <div>
            <span ng-show="!showCharts"><localize key="pieman_showAnalyticsForPrevious">Show analytics for previous</localize>&nbsp;<input type="text" ng-model="dateSpan" />&nbsp;<localize key="pieman_days">days</localize></span>
            <span ng-show="showCharts"><localize key="pieman_showingAnalyticsForPrevious">Showing analytics for previous</localize>&nbsp;{{dateSpan}}&nbsp;<localize key="pieman_days">days</localize></span>
            <a class="btn icon btn-fetch" ng-click="toggleState()" ng-class="{'loading': showLoader, 'icon-play': !showCharts, 'icon-delete': showCharts}"></a>
            <i class="icon icon-settings hover-show pull-right btn-settings" ng-show="userType !== 'author'" ng-click="openSettings()" title="Settings"></i>
        </div>
    </div>
     
    <div class="pieman-error" ng-show="showError">
        <div class="error-block">
            <p><localize key="pieman_noData">No data available for the current page</localize>.</p>
            <p><localize key="pieman_noDataQuery">PieMan's query included the page path</localize> '{{ pagePath }}'</p>
        </div>
    </div>

    <div class="pieman-wrapper" ng-show="showCharts">

        <ul class="stat-banner">
            <li id="totalVisitors" class="stat">
                <span class="value" ng-cloak ng-bind="totalVisitors | number"></span>
                <localize key="pieman_totalVisitorsInLast">Total visitors in last</localize> {{ dateSpan}} <localize key="pieman_days">days</localize>
            </li>
            <li id="totalViews" class="stat">
                <span class="value" ng-cloak ng-bind="totalPageViews | number"></span>
                <localize key="pieman_totalPageviewsInLast">Total pageviews in last</localize> {{ dateSpan}} <localize key="pieman_days">days</localize>
            </li>
            <li id="uniqueViews" class="stat">
                <span class="value" ng-cloak ng-bind="totalUniqueViews | number"></span>
                <localize key="pieman_uniquePageviewsInLast">Unique pageviews in last</localize> {{ dateSpan}} <localize key="pieman_days">days</localize>
            </li>
            <li id="avgTime" class="stat no-cap">
                <span class="value" ng-cloak ng-bind="avgTimeOnPage | secondsToString"></span>
                <localize key="pieman_averageTimeOnPage">Average time on page</localize>
            </li>
        </ul>

        <div class="line-wrapper">
            <div class="PieMan-line line"
                 views="views"
                 unique="unique"
                 prev-views="prevViews"
                 prev-unique="prevUnique"
                 dates="dates"
                 prev-dates="prevDates"
                 translations="translations"
                 label="pieman_pageViews">
            </div>
            <select ng-model="comparisonType" ng-options="o.val as o.key for o in comparisonOptions" ng-change="getComparisonData()"></select>
        </div>

        <div class="pie-wrapper">
            <div class="PieMan-pie pie"
                 data="newVisits"
                 label="pieman_newVsReturning">
            </div>

            <div class="PieMan-drilldown-pie pie"
                 data="browserType"
                 label="pieman_browserVersion"
                 drill-in="pieman_clickToViewVersions"
                 drill-out="pieman_clickToViewAllBrowsers">
            </div>
            
            <div class="PieMan-pie pie"
                 data="deviceCategory"
                 label="pieman_deviceCategory">
            </div>

        </div>


    </div>
    
    <umb-overlay ng-if="settingsOverlay.show"
                 model="settingsOverlay"
                 view="settingsOverlay.view"
                 position="right">
    </umb-overlay>

</div>
