<div ng-controller="PieMan.SettingsController as vm" class="pieman-settings">
    <div ng-hide="vm.isAuthd">
        <umb-control-group label="@pieman_authorization" description="@pieman_loginWithGoogleViaOAuth">
            <button class="btn btn-success" ng-click="vm.doAuthorise()"><span class="icon-lock"></span> <localize key="pieman_authorize">Authorize</localize></button>
        </umb-control-group>
    </div>

    <div class="umb-property" ng-show="vm.isAuthd && !vm.loading">
        <umb-control-group label="@pieman_account">
            <select name="account" ng-model="vm.selectedAccount" ng-change="vm.accountSelected()" ng-options="account.Name for account in vm.accounts">
                <option value=""><localize key="pieman_selectAccount">-- Select account --</localize></option>
            </select>
        </umb-control-group>

        <umb-control-group label="@pieman_profile" ng-hide="model.account.Id === ''">
            <select name="profile" ng-show="vm.selectedAccount" ng-model="vm.selectedProfile" ng-change="vm.profileSelected()" ng-options="profile.Name for profile in vm.profiles">
                <option value=""><localize key="pieman_selectProfile">-- Select profile --</localize></option>
            </select>
        </umb-control-group>

        <div ng-show="model.profile">
            <h4><localize key="pieman_selectedProfile">Selected profile</localize></h4>
            <h5><localize key="pieman_name">NAME</localize>: <span ng-bind="model.profile.Name"></span></h5>
            <h5><localize key="pieman_website">WEBSITE</localize>: <span ng-bind="model.profile.WebsiteUrl"></span></h5>
            <h5><localize key="pieman_id">ID</localize>: <span ng-bind="model.profile.Id"></span></h5>
            <h5><localize key="pieman_webPropertyId">WEB PROPERTY ID</localize>: <span ng-bind="model.profile.WebPropertyId"></span></h5>
        </div>
    </div>
    
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
</div>
