$red: #9d261d;
$blue: #2e8aea;
$blueLight: #add8e6;
$orange: #df7f48;

.pieman-editor {
    position: relative;

    .btn-settings {
        font-size: 30px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 15px;
        color: #ccc;
        -moz-transition: color ease-in-out .2s;
        -o-transition: color ease-in-out .2s;
        -webkit-transition: color ease-in-out .2s;
        transition: color ease-in-out .2s;

        &:hover {
            color: #aaa;
        }
    }

    .stat-banner {
        width: 100%;
        overflow: auto;
        border-bottom: 1px solid #eee;
    }

    .stat {
        width: 25%;
        float: left;
        font-size: 17px;
        text-align: center;

        .value {
            font-size: 24px;
            font-weight: bold;
            display: block;
            margin: 10px 0 30px 0;
            color: $orange;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
        }
    }

    .line-wrapper {
        position:relative;

        select {
            position:absolute;
            top:0;
            right:0;
        }
    }

    .line {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .pie {
        height: 500px;
        float: left;
        width: 33.333%;
    }

    .pieman-wrapper {
        width: 100%;
        position: relative;
    }

    .controls {
        text-align: center;
        margin-left: 0;

        span {
            vertical-align: middle;
            background: #f8f8f8;
            padding: 10px 30px 10px 10px;
            font-size: 14px;
        }

        > div {
            display: inline-block;
            position: relative;
            overflow: hidden;
            margin: 0 auto 15px;
            font-size: 24px;
            line-height: 28px;
            padding: 15px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
        }

        input {
            background: transparent;
            font-size: 24px;
            border: none;
            width: 40px;
            text-align: center;
            text-decoration: underline;
            height: auto;
            padding: 0;
            margin-top: 6px;

            &:hover {
                color: #1d1d1d;
            }
        }

        a {
            background: $blue;
            color: #fff;
            padding: 8px 8px 8px 10px;
            width: 28px;
            height: 30px;
            font-size: 30px;
            text-decoration: none;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin-left: -25px;
            line-height: 30px;
            -moz-transition: color ease-in-out .2s;
            -o-transition: color ease-in-out .2s;
            -webkit-transition: color ease-in-out .2s;
            transition: color ease-in-out .2s;

            &:hover {
                background: $blue;
                color: #aaa;
                text-decoration: none;
                cursor: pointer;
            }

            &.loading {
                -webkit-animation: bg-pulse 1.5s infinite;
                -moz-animation: bg-pulse 1.5s infinite;
                -o-animation: bg-pulse 1.5s infinite;
                animation: bg-pulse 1.5s infinite;
            }

            &.icon-delete {
                padding-left: 8px;
                width: 30px;
            }
        }
    }

    .btn {
        opacity: 1;
        background: #fff;
        border: none;
        padding: 5px 0;
        -moz-transition: background .2s ease-in-out;
        -o-transition: background .2s ease-in-out;
        -webkit-transition: background .2s ease-in-out;
        transition: background .2s ease-in-out;

        &:hover {
            background: #ccc;
        }

        .disabled {
            opacity: 0;
            -moz-transition: opacity ease-in-out .2s;
            -o-transition: opacity ease-in-out .2s;
            -webkit-transition: opacity ease-in-out .2s;
            transition: opacity ease-in-out .2s;
        }
    }

    .highcharts-tooltip {
                
        hr {
            margin: 5px 0;
            border: 0;
            border-top: 1px solid #555;
        }

    }


}



/*** settings ***/

.pieman-settings {

    .umb-pane {
        margin: 0;
    }

    header {
        background: #1d1d1d;
        padding: 15px 15px 7px;
        margin: 0 0 15px 0;
        color: #d9d9d9;

        h3 {
            font-size: 38.5px;
        }


        h3 span {
            color: #df7f48;
        }

        h4 {
            text-transform: uppercase;
            font-size: 18px;
        }
    }

    section {
        padding: 15px;

        .btns {
            text-align: right;
            display: block;

            button {
                display: inline-block;
                margin-left: 0;
            }
        }

        h5 {
            margin: 5px 0;
            text-transform: none;
        }
    }
}


@-webkit-keyframes bg-pulse {
    0% {
        background: $blue;
    }

    50% {
        background: $blueLight;
    }

    100% {
        background: $blue;
    }
}

@keyframes bg-pulse {
    0% {
        background: $blue;
    }

    50% {
        background: $blueLight;
    }

    100% {
        background: $blue;
    }
}
