.pieman-editor {
  position: relative; }
  .pieman-editor .btn-settings {
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    color: #ccc;
    -moz-transition: color ease-in-out 0.2s;
    -o-transition: color ease-in-out 0.2s;
    -webkit-transition: color ease-in-out 0.2s;
    transition: color ease-in-out 0.2s; }
    .pieman-editor .btn-settings:hover {
      color: #aaa; }
  .pieman-editor .stat-banner {
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #eee; }
  .pieman-editor .stat {
    width: 25%;
    float: left;
    font-size: 17px;
    text-align: center; }
    .pieman-editor .stat .value {
      font-size: 24px;
      font-weight: bold;
      display: block;
      margin: 10px 0 30px 0;
      color: #df7f48;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); }
  .pieman-editor .line-wrapper {
    position: relative; }
    .pieman-editor .line-wrapper select {
      position: absolute;
      top: 0;
      right: 0; }
  .pieman-editor .line {
    margin-top: 20px;
    margin-bottom: 30px; }
  .pieman-editor .pie {
    height: 500px;
    float: left;
    width: 33.333%; }
  .pieman-editor .pieman-wrapper {
    width: 100%;
    position: relative; }
  .pieman-editor .controls {
    text-align: center;
    margin-left: 0; }
    .pieman-editor .controls span {
      vertical-align: middle;
      background: #f8f8f8;
      padding: 10px 30px 10px 10px;
      font-size: 14px; }
    .pieman-editor .controls > div {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin: 0 auto 15px;
      font-size: 24px;
      line-height: 28px;
      padding: 15px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15); }
    .pieman-editor .controls input {
      background: transparent;
      font-size: 24px;
      border: none;
      width: 40px;
      text-align: center;
      text-decoration: underline;
      height: auto;
      padding: 0;
      margin-top: 6px; }
      .pieman-editor .controls input:hover {
        color: #1d1d1d; }
    .pieman-editor .controls a {
      background: #2e8aea;
      color: #fff;
      padding: 8px 8px 8px 10px;
      width: 28px;
      height: 30px;
      font-size: 30px;
      text-decoration: none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-left: -25px;
      line-height: 30px;
      -moz-transition: color ease-in-out 0.2s;
      -o-transition: color ease-in-out 0.2s;
      -webkit-transition: color ease-in-out 0.2s;
      transition: color ease-in-out 0.2s; }
      .pieman-editor .controls a:hover {
        background: #2e8aea;
        color: #aaa;
        text-decoration: none;
        cursor: pointer; }
      .pieman-editor .controls a.loading {
        -webkit-animation: bg-pulse 1.5s infinite;
        -moz-animation: bg-pulse 1.5s infinite;
        -o-animation: bg-pulse 1.5s infinite;
        animation: bg-pulse 1.5s infinite; }
      .pieman-editor .controls a.icon-delete {
        padding-left: 8px;
        width: 30px; }
  .pieman-editor .btn {
    opacity: 1;
    background: #fff;
    border: none;
    padding: 5px 0;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out; }
    .pieman-editor .btn:hover {
      background: #ccc; }
    .pieman-editor .btn .disabled {
      opacity: 0;
      -moz-transition: opacity ease-in-out 0.2s;
      -o-transition: opacity ease-in-out 0.2s;
      -webkit-transition: opacity ease-in-out 0.2s;
      transition: opacity ease-in-out 0.2s; }
  .pieman-editor .highcharts-tooltip hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #aaa; }
    .pieman-editor .highcharts-tooltip hr ~ span {
      color: #aaa; }

/*** settings ***/
.pieman-settings .umb-pane {
  margin: 0; }
.pieman-settings header {
  background: #1d1d1d;
  padding: 15px 15px 7px;
  margin: 0 0 15px 0;
  color: #d9d9d9; }
  .pieman-settings header h3 {
    font-size: 38.5px; }
  .pieman-settings header h3 span {
    color: #df7f48; }
  .pieman-settings header h4 {
    text-transform: uppercase;
    font-size: 18px; }
.pieman-settings section {
  padding: 15px; }
  .pieman-settings section .btns {
    text-align: right;
    display: block; }
    .pieman-settings section .btns button {
      display: inline-block;
      margin-left: 0; }
  .pieman-settings section h5 {
    margin: 5px 0;
    text-transform: none; }

@-webkit-keyframes bg-pulse {
  0% {
    background: #2e8aea; }

  50% {
    background: #add8e6; }

  100% {
    background: #2e8aea; } }

@keyframes bg-pulse {
  0% {
    background: #2e8aea; }

  50% {
    background: #add8e6; }

  100% {
    background: #2e8aea; } }

/*# sourceMappingURL=pieman.css.map */