<div ng-controller="PieMan.EditorController" class="pieman-editor">
    <div class="controls"> 
        <div> <span><localize key="actions_browse">default text</localize></span> 
            <span ng-show="!showCharts"><localize key="pieman_showAnalyticsForPrevious">Show analytics for previous</localize>&nbsp;<input type="text" ng-model="dateSpan" />&nbsp;<localize key="pieman_days">days</localize></span>
            <span ng-show="showCharts"><localize key="pieman_showingAnalyticsForPrevious">Showing analytics for previous</localize> {{dateSpan}} <localize key="pieman_days">days</localize></span>
            <a class="btn icon" ng-click="toggleState()" ng-class="{'loading': showLoader, 'icon-play': !showCharts, 'icon-delete': showCharts}"></a>
            <i class="icon icon-settings hover-show pull-right btn-settings" ng-show="userType === 'admin'" ng-click="settingsDialog()" title="Settings"></i>
        </div> 
    </div> 
     
    <div class="pieman-error" ng-show="showError"> 
        <div class="error-block">
            <p><localize key="pieman_noData">No data available for the current page</localize>.</p>
            <p><localize key="pieman_noDataQuery">PieMan's query included the page path</localize> '{{ pagePath }}'</p>
        </div>
    </div> 

    <div class="pieman-wrapper" ng-show="showCharts">

        <div class="stat-banner">
            <div id="totalVisitors" class="stat">
                <localize key="pieman_totalVisitorsInLast">Total visitors in last</localize> <span class="days" ng-bind="dateSpan"></span> <localize key="pieman_days">days</localize><br />
                <span class="value" ng-cloak ng-bind="totalVisitors | number"></span>
            </div>
            <div id="totalViews" class="stat">
                <localize key="pieman_totalPageviewsInLast">Total pageviews in last</localize> <span class="days" ng-bind="dateSpan"></span> <localize key="pieman_days">days</localize><br />
                <span class="value" ng-cloak ng-bind="totalPageViews | number"></span>
            </div>
            <div id="uniqueViews" class="stat">
                <localize key="pieman_uniquePageviewsInLast">Unique pageviews in last</localize> <span class="days" ng-bind="dateSpan"></span> <localize key="pieman_days">days</localize><br />
                <span class="value" ng-cloak ng-bind="totalUniqueViews | number"></span>
            </div>
            <div id="avgTime" class="stat">
                <localize key="pieman_averageTimeOnPage">Average time on page</localize><br />
                <span class="value" ng-cloak ng-bind="avgTimeOnPage | secondsToString"></span>
            </div>
        </div>

        <!--<div class="line-wrapper">
            <div class="PieMan-line line"
                 views="views"
                 unique="unique"
                 prev-views="prevViews"
                 prev-unique="prevUnique"
                 dates="dates"
                 prev-dates="prevDates"
                 translations="translations"
                 label="translations.pageViews">
            </div>
            <select ng-model="comparisonType" ng-options="o.val as o.key for o in comparisonOptions" ng-change="getComparisonData()"></select>
        </div>-->

        <div class="PieMan-pie pie"
             data="newVisits"
             label="'pieman_newVsReturning'">
        </div>

        <div class="PieMan-pie pie"
             data="deviceCategory"
             label="'pieman_deviceCategory'">
        </div>

        <div class="PieMan-drilldown-pie pie"
             data="browserType"
             label="'pieman_browserVersion'"
             drill-in="'pieman_clickToViewVersions'"
             drill-out="'pieman_clickToViewAllBrowsers'">
        </div>

    </div>

</div>
